<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<p>Find me on social media</p>
<button class='social-btn' type="button" name="button">
    <%= link_to "Social Media", "https://www.facebook.com" %>
</button>
