<h1>Welcome to Bloccit!</h1>
<p>Bloccit is a place where people can share information on whatever topics they are interested in.</p>
<p>Now, mind you, it is still being developed, so it is very bare bones, but it will grow and evolve into something... beautiful.</p>
